
<div class="card-product">
  <%= render 'shared/artist_card.html.erb'%>
  <div class="card-hello">
    <% if service.photos.attached? %>
      <%= image_tag(service.photos.first, class: 'art-img') %>
    <% else %>
      <%# TODO: placeholder goes here %>
    <% end %>
    <div class="card-hello-info">
      <div class="d-flex justify-content-center">
        <h4 class="service-title"><%= service.title %></h4>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <p class="card-price"><i class="yen fas fa-yen-sign">Price: <%= service.price %></i></p>
        <p class="card-rating"><i class="star fas fa-star">Rating</i></p>
      </div>
    </div>
  </div>
    <%= link_to service_path(service), class: 'card-hello-link-wrapper' do %><% end %>
</div>
