<div class="banner-container">
  <div class="jumbotron" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(<%= asset_path 'banner.jpg'%>);">
    <div class="container">
      <h1 class="display-4">Local Artists for Something Unique</h1>
      <p>Hire a creative artist near you for a unique, one of a kind service</p>
    </div>
  </div>
</div>

<div class="container d-flex pt-3 pb-5 align-items-center justify-content-between">
  <%= link_to "Murals", root_path, class: "mx-2 main-button" %>
  <%= link_to "Paintings", root_path, class: "mx-2 main-button" %>
  <%= link_to "Interior", root_path, class: "mx-2 main-button" %>
  <%= link_to "Illustrations", root_path, class: "mx-2 main-button" %>
  <%= link_to "Signwriting", root_path, class: "mx-2 main-button" %>
</div>

<div class="container">
  <div class="flex-column">
    <% @services.each do |service| %>
      <%= render 'shared/card.html.erb', service: service %>
    <% end %>
  </div>
</div>
