
<h1>Services</h1>

<% @services.each do |service| %>
  <%# TODO: Add card style after UI Components are finished %>
    <hr>
    <b>Title:</b> <%= service.title %><br>
    <b>Price:</b> <%= service.price %><br>
    <b>Description:</b> <%= service.description %><br>
    <b>Category:</b> <%= service.category %><br>
    <b>service by:</b> <%= service.user.name %><br>
    <% if service.photos.attached? %>
      <b>Photos:</b> 
      <% service.photos.each do |photo| %>
        <%= image_tag(photo, :width => 100) %>
      <% end %>
    <% else %>
      no photos
    <% end %>
    <br><%= link_to 'View Details', service_path(service), class: 'btn btn-primary'  %>
<% end %>
