<% collection = Service.where(user: @booking.service.user).order(:title) if @booking.service%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @booking do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <% if collection %>
          <%= f.association :service, collection: collection %>
        <% else %>
          <%= f.association :service %>
        <% end %>
        <div class="row justify-content-between px-3">
        <%= f.submit class: "btn btn-dark" %>
        <%= link_to 'Cancel', services_path, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
