<%# collection = Service.where(user: @booking.service.user).order(:title) if @booking.service%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% if service.present? %>
        <%= simple_form_for [service, booking] do |f| %>
          <%= f.input :start_time, as: :string, required: true, input_html: {class: "start_time"} %>
          <%= f.input :end_time, as: :string, required: true, disabled: true, input_html: {class: "end_time"} %>
          <div class="row justify-content-between px-3 py-4">
            <%= f.submit class: "modern-button" %>
            <%= link_to 'Cancel', '', class: "modern-button cancel-button", data: { serviceid: service.id } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
