<% collection = Service.where(user: @booking.service.user).order(:title) if @booking.service%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <% service = @service if @service.present? %>
    <% if service.present? %>
        <%= service.title %>
          <%= simple_form_for [service, @booking] do |f| %>
            <%= f.input :start_time, :minute_step => 30, discard_year: true %>
            <%= f.input :end_time, :minute_step => 30, discard_year: true %>

            <div class="row justify-content-between px-3">
            <%= f.submit class: "btn btn-dark" %>
            <%= link_to 'Cancel', services_path, class: "btn btn-warning" %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
