<%# SERVICE IMAGE %>
<td>
  <% if booking.service.photos.attached? %>
    <%= cl_image_tag(booking.service.photos.first.key, height: 100, width: 100, crop: 'fill', class: 'artist-card-images') %>
  <% end %>
</td>
<td> <%=booking.service.title %> </td>
<% if booking.service.user.photo.attached? %>
  <td> <%= cl_image_tag booking.service.user.photo.key, class: "avatar text-center" %>
<% else %>
 <td><img src="http://placehold.jp/50x50.png", class="avatar">
<% end %>
<br>
<%=booking.service.user.name.titleize %></td>
<td><%= booking.start_time.to_formatted_s(:short) %> </td>
<td><%= booking.end_time.to_formatted_s(:short) %> </td>
<td>¥<%= booking.service.price %></td>
<% case booking.status %>
  <% when "pending" %>
    <td>🟡 <%= booking.status.capitalize %></td>
  <% when 'accepted' %>
    <td>🟢 <%= booking.status.capitalize %></td>
  <% when 'declined' %>
    <td>🔴 <%= booking.status.capitalize %></td>
<% end %>


<%# if current_user is not the customer of the booking (i.e. he's the artist), absolutely necessary because two different types of bookings are being passed %>
<% if current_user != booking.user %>
  <td>
    <% case booking.status %>
      <% when 'pending' %>
        <%= link_to 'Accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-success" %>
        <%= link_to 'Decline booking', decline_booking_path(booking), method: :patch, class: "btn btn-warning btn-block" %>
      <% when 'accepted' %>
        <%= link_to 'Decline booking', decline_booking_path(booking), method: :patch, class: "btn btn-warning btn-block" %>
      <% when 'declined' %>
        <%= link_to 'Accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-success btn-block" %>
    <% end %>
  </td>

<%# if current user is the customer of the booking %>
<% else %>
  <td><%= link_to 'Modify Booking', '#edit', class: "modern-button modify-booking", data: { bookingid: booking.id } %></td>
  <td>
    <%# if DateTime.now > booking.end_time commented for demo purposes %>
      <% if booking.review %>
        <%= link_to 'Edit Review', edit_booking_review_path(booking, booking.review), class: "btn modern-button" %>
      <% else %>
        <%= link_to 'Review Service', new_booking_review_path(booking), class: "btn modern-button review-button"  %>
      <% end %>
    <%# end %>
  </td>
  <%= render 'bookings/modal_edit', booking: booking %>
<% end %>
