<div class="container my-5">
  <h5><%= current_user.artist ? 'Latest Orders' : 'Bookings You Have Made' %></h5>
  <div class="row">
    <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Open Orders</h6>
    <% if current_user.artist %>
      <% current_user.bookings_as_owner.each do |booking| %>
        <%= booking.user.name if booking.status == "pending" %>
      <% end %>
      <br><br><br><br></div></div>
      <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Total Orders</h6><br><br><br><br></div></div>
      <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Monthly Profit</h6>
      <br><br><br><br></div></div>
      <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Total Profit</h6><br><br><br><br></div></div>
    <% else %>
      <% current_user.bookings.each do |booking| %>
        <%= booking.service.title if booking.status == "pending" %>
      <% end %>
      <br><br><br><br></div></div>
      <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Total Orders</h6><br><br><br><br></div></div>
      <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Monthly Profit</h6>
      <br><br><br><br></div></div>
    <% end %>
  </div>


  <div class="row">
     <div class="col-sm-9">
      <h5>Bookings</h5>


      <div class="border p-3 rounded-lg d-flex justify-content-between">


        <table class="w-100">
            <tr>
              <th></th>
              <th>Title</th>
              <th><%= current_user.artist ? 'Client' : 'Artist' %></th>
              <th>Start Date</th>
              <th>End Date</th>
              <th><%= current_user.artist ? 'Profit' : 'Price' %></th>
              <th>Status</th>
              <th><%= current_user.artist ? "Accept/Decline" : "Edit booking time" %></th>
              <% if !current_user.artist %>
              <th>Leave a review</th>
              <% end %>

            </tr>
              <% if current_user.artist %>
                <tr>
                  <% current_user.bookings_as_owner.order("start_time ASC").each do |booking| %>
                  <td><img src="http://placehold.jp/150x150.png"></td>
                  <td> <%=booking.service.title %> </td>
                  <% if booking.user.photo.attached? %>
                    <td> <%= cl_image_tag booking.user.photo.key, class: "avatar" %>
                  <% else %>
                  <td><img src="http://placehold.jp/50x50.png">
                  <% end %>
                  <br>
                  <%=booking.user.name %></td>
                  <td><%= booking.start_time.to_formatted_s(:short) %> </td>
                  <td><%= booking.end_time.to_formatted_s(:short) %> </td>
                  <td><%= booking.service.price %></td>
                  <td>🔴 <%= booking.status %> </td>
                  <td>
                    <% case booking.status %>
                    <% when 'pending' %>
                      <%= link_to 'Accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-success" %>
                      <%= link_to 'Decline booking', decline_booking_path(booking), method: :patch, class: "btn btn-warning" %>
                    <% when 'accepted' %>
                      <%= link_to 'Decline booking', decline_booking_path(booking), method: :patch, class: "btn btn-warning" %>
                    <% when 'declined' %>
                      <%= link_to 'Accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-success" %>
                    <% end %>
                  </td>
                  </tr>
                  <% end %>
              <% else %>
              <tr>
                <% current_user.bookings.order("start_time ASC").each do |booking| %>
                <td><img src="http://placehold.jp/150x150.png"></td>
                <td> <%=booking.service.title %> </td>
                  <% if booking.service.user.photo.attached? %>
                    <td> <%= cl_image_tag booking.user.photo.key, class: "avatar" %>
                  <% else %>
                    <td><img src="http://placehold.jp/50x50.png">
                  <% end %>
                  <br>
                <%= booking.service.user.name %></td>
                <td><%= booking.start_time.to_formatted_s(:short) %> </td>
                <td><%= booking.end_time.to_formatted_s(:short) %> </td>
                <td><%= booking.service.price %></td>
                <td>🔴 <%= booking.status %> </td>
                <td> <%= link_to 'Modify Booking', edit_booking_path(booking), class: "main-button" %> </td>
                <td> <% if DateTime.now > booking.end_time %>
                  <% if booking.review %>
                    <%= link_to 'Modify review', edit_booking_review_path(booking, booking.review), class: "btn btn-warning" %>
                  <% else %>
                    <%= link_to 'Review service', new_booking_review_path(booking), class: "btn btn-success"  %>
                  <% end %>
                </td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
        </table>


<%# else %>

    <%# Uncomment this if and its end to test the reviews %>
    <%# if DateTime.now > booking.end_time %>
      <%# if booking.review %>
        <%# <%=# link_to 'Modify review', edit_booking_review_path(booking, booking.review), class: "btn btn-warning" %>
      <%# else %>
        <%# <%=# link_to 'Review service', new_booking_review_path(booking), class: "btn btn-success"  %>
      <%# end %>
    <%# end %>
  <%# end %>





                    <%# </td> %>

             <%# <tr>
              <td>Portrait</td>
              <td><img src="http://placehold.jp/50x50.png"></td>
              <td>2020/20/20</td>
              <td>2020/20/22</td>
              <td>¥100,000</td>
              <td>🟢 Completed</td>
              <td>✏️</td>
            </tr>

             <tr>
              <td>Interior Wall</td>
              <td><img src="http://placehold.jp/50x50.png"></td>
              <td>2020/20/20</td>
              <td>2020/20/22</td>
              <td>¥100,000</td>
              <td>🟢 Completed</td>
              <td>✏️</td>
            </tr> %>
      </div>
    </div>
    <div class="col-sm-3"><h5>Latest Reviews</h5><div class="border p-5 rounded-lg">
    <% current_user.services.each do |service| %>
      <% service.reviews.each do |review| %>
        <div class="row">
        <% if review.user.photo.attached? %>
          <%= cl_image_tag review.user.photo.key, class: "avatar-square" %>
        <% else %>
          <img src="http://placehold.jp/50x50.png">
        <% end %>
        "<%= review.comment %>"
        </div>
      <% end %>
    <% end %>
    <br><br><br><br></div></div>

  </div>
</div>

<% if false %>
      <div class="container">
      <div class="row">
        <% if current_user.bookings.present? %>
          <% @bookings.each do |booking| %>
            <div class="col-sm-4">
              <% if current_user.artist? %>
                <%# <% The CSS is not definitive at all %>
                <% case booking.status %>
                <% when 'pending' %>
                  <%= link_to 'Accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-success" %>
                  <%= link_to 'Decline booking', decline_booking_path(booking), method: :patch, class: "btn btn-warning" %>
                <% when 'accepted' %>
                  <%= link_to 'Cancel booking', decline_booking_path(booking), method: :patch, class: "btn btn-danger" %>
                <% when 'declined' %>
                  <%= link_to 'Restore and accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-primary" %>
                <% end %>
              <% end %>

            <% if booking.status == 'pending' %>
              <div class="card-bookings m-3">
                <% if booking.service.photos.present? %>
                <%= image_tag booking.service.photos.first %>
                <% else %>
                <%= "nothing" %>
                <% end %>
                <%# image_path(booking.service.photos.first) : image_path(booking.service.photos_url) %>
                <div class="card-hello-info">
                <%# TODO: Add card style after UI Components are finished %>
                  <hr>
                  <b>Title:</b> <%= booking.service.title %><br>
                  <b>Status:</b> <%= booking.status %><br>
                  <b>Price:</b> <%= booking.service.price %><br>
                  <b>Description:</b> <%= booking.service.description %><br>
                  <% if current_user.artist %>
                    <b>Customer:</b> <%= booking.user.email %><br>
                  <% else %>
                    <b>Artist:</b> <%= booking.service.user.email %><br>
                  <div class="d-flex justify-content-center">
                  <%= link_to 'Modify Booking', edit_booking_path(booking), class: "main-button" %>
                  </div>
                  <% end %>
                </div> <!--productinfo-->
              </div> <!--card-bookings-->
              <% elsif booking.status == 'accepted' %>
                <div class="card-bookings m-3">
                  <h2>Confirmed</h2>
                  <%= image_tag booking.service.photos.first %>
                  <%# ? image_path(booking.service.photo.first) : image_path(booking.service.photo_url) %>
                  <div class="card-hello-info">
                    <h2><%= booking.service.title.capitalize %></h2>
                    <p><%= booking.service.description.capitalize %></p>
                    <p><%= booking.service.price %></p>

                  </div>
                </div>
              <% else %>
              <div class="container d-flex justify-content-center p-2">
                <%# <h2>You haven't booked any artist!</h2> %>
              </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
      </div> <!--cardswrapper-->
      </div> <!--cardswrapper-->

<%# else %>
    <%# <%=# link_to 'Modify booking', edit_booking_path(booking), class: "btn btn-primary" %>
    <%# Uncomment this if and its end to test the reviews %>
    <%# if DateTime.now > booking.end_time %>
      <%# if booking.review %>
        <%# <%=# link_to 'Modify review', edit_booking_review_path(booking, booking.review), class: "btn btn-warning" %>
      <%# else %>
        <%# <%=# link_to 'Review service', new_booking_review_path(booking), class: "btn btn-success"  %>
      <%# end %>
    <%# end %>
  <%# end %>

<%# end %>
<% end %>

<%= render 'shared/booking_card' %>

  <%# //</div> %>
<%# //</div> %>
