
<div class="container my-5">
  <h5><%= current_user.artist ? 'Latest Orders' : 'Bookings You Have Made' %></h5>
  <div class="row">
    <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Open Orders</h6><br><br><br><br></div></div>
    <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Total Orders</h6><br><br><br><br></div></div>
    <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Monthly Profit</h6><br><br><br><br></div></div>
    <div class="col-sm-3"><div class="border p-5 rounded-lg mb-5"><h6>Total Profit</h6><br><br><br><br></div></div>

  </div>

  <div class="row">
     <div class="col-sm-9">
      <h5>Bookings</h5>


      <div class="border p-3 rounded-lg d-flex justify-content-between">


           <table class="w-100">
            <tr>
              <th>Title</th>
              <th><%= current_user.artist ? 'Client' : 'Artist' %></th>
              <th>Start Date</th>
              <th>End Date</th>
              <th><%= current_user.artist ? 'Profit' : 'Price' %></th>
              <th>Status</th>
              <th></th>
            </tr>
            <tr>
              <td>Blackboard Writing</td>
              <td><img src="http://placehold.jp/50x50.png"></td>
              <td>2020/20/20</td>
              <td>2020/20/22</td>
              <td>¥100,000</td>
              <td>🔴 Pending</td>
              <td>✏️</td>
            </tr>

             <tr>
              <td>Portrait</td>
              <td><img src="http://placehold.jp/50x50.png"></td>
              <td>2020/20/20</td>
              <td>2020/20/22</td>
              <td>¥100,000</td>
              <td>🟢 Completed</td>
              <td>✏️</td>
            </tr>

             <tr>
              <td>Interior Wall</td>
              <td><img src="http://placehold.jp/50x50.png"></td>
              <td>2020/20/20</td>
              <td>2020/20/22</td>
              <td>¥100,000</td>
              <td>🟢 Completed</td>
              <td>✏️</td>
            </tr>
           </table>
      </div>
    </div>
    <div class="col-sm-3"><h5>Latest Reviews</h5><div class="border p-5 rounded-lg"><br><br><br><br></div></div>

  </div>
</div>
<div class="container">
<div class="row">
  <% if current_user.bookings.present? %>
    <% @bookings.each do |booking| %>
      <div class="col-sm-4">
        <% if current_user.artist? %>
          <%# <% The CSS is not definitive at all %>
          <% case booking.status %>
          <% when 'pending' %>
            <%= link_to 'Accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-success" %>
            <%= link_to 'Decline booking', decline_booking_path(booking), method: :patch, class: "btn btn-warning" %>
          <% when 'accepted' %>
            <%= link_to 'Cancel booking', decline_booking_path(booking), method: :patch, class: "btn btn-danger" %>
          <% when 'declined' %>
            <%= link_to 'Restore and accept booking', accept_booking_path(booking), method: :patch, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% if booking.status == 'pending' %>
        <div class="card-bookings m-3">
          <%= image_tag booking.service.photos.first %>
          <%# image_path(booking.service.photos.first) : image_path(booking.service.photos_url) %>
          <div class="card-hello-info">
          <%# TODO: Add card style after UI Components are finished %>
            <hr>
            <b>Title:</b> <%= booking.service.title %><br>
            <b>Status:</b> <%= booking.status %><br>
            <b>Price:</b> <%= booking.service.price %><br>
            <b>Description:</b> <%= booking.service.description %><br>
            <% if current_user.artist %>
              <b>Customer:</b> <%= booking.user.email %><br>
            <% else %>
              <b>Artist:</b> <%= booking.service.user.email %><br>
            <div class="d-flex justify-content-center">
            <%= link_to 'Modify Booking', edit_booking_path(booking), class: "main-button" %>
            </div>
            <% end %>
          </div> <!--productinfo-->
        </div> <!--card-bookings-->
        <% elsif booking.status == 'accepted' %>
          <div class="card-bookings m-3">
            <h2>Confirmed</h2>
            <%= image_tag booking.service.photos.first %>
            <%# ? image_path(booking.service.photo.first) : image_path(booking.service.photo_url) %>
            <div class="card-hello-info">
              <h2><%= booking.service.title.capitalize %></h2>
              <p><%= booking.service.description.capitalize %></p>
              <p><%= booking.service.price %></p>
            </div>
          </div>
          <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modify booking for service: <strong><%= booking.service.title %></strong> by <%= booking.service.user.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= render 'bookings/form' %>
              </div>
            </div>
          </div>
        <% else %>
        <div class="container d-flex justify-content-center p-2">
          <%# <h2>You haven't booked any artist!</h2> %>
        </div>
      <% end %>
       </div>
    <% end %>
  <% end %>
</div> <!--cardswrapper-->
</div> <!--cardswrapper-->



  <%# else %>
    <%# <%=# link_to 'Modify booking', edit_booking_path(booking), class: "btn btn-primary" %>
    <%# Uncomment this if and its end to test the reviews %>
    <%# if DateTime.now > booking.end_time %>
      <%# if booking.review %>
        <%# <%=# link_to 'Modify review', edit_booking_review_path(booking, booking.review), class: "btn btn-warning" %>
      <%# else %>
        <%# <%=# link_to 'Review service', new_booking_review_path(booking), class: "btn btn-success"  %>
      <%# end %>
    <%# end %>
  <%# end %>

<%# end %>

<%# <%=# render 'shared/booking_card' %>

  <%# //</div> %>
<%# //</div> %>
