<div class="d-flex p-4 rounded-lg bg-white mb-5">
  <div class="text-center w-25">
    <% if artist.photo.attached? %>
      <%= image_tag(cl_image_path(artist.photo.key), class: 'rounded-circle') %>
    <% else %>
     <img src="http://placehold.jp/150x150.png" class="rounded-circle mb-2">
    <% end %>
    <h2 class="name-title"><%= artist.name %></h2>
    <h4 class="location-title"><%= artist.address %></h4>
    
    <p><%= artist.summary %></p>
    <% find_unique_categories(artist).each do |category| %>
    <h3 class="modern-badge"><%= category %></h3>
    <% end  %>
    <br>
    
    <%= link_to "View Portfolio", user_path(artist), class: "my-3 modern-button" %>
    </div>

  <div class="d-flex justify-content-around w-100 align-items-center">
  
    <% artist.services.each.with_index do |service, index| %>
      <% if index == 0 %>
        <% service.photos.each do |photo| %>


          <%= cl_image_tag(photo.key, height: 230, width: 230, crop: 'fill', class: 'artist-card-images') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>