<div class="container d-flex">
  <div class="row pt-2">
    <div class="col-9">
      <div class="d-flex pb-3">
        <%= render "artist_profile_card", artist: @artist %>
        <div class="border border-primary p-4">
          <header class="w3-container w3-blue">
            <h1>Artist Bio</h1>
          </header>
          <div class="w3-container m-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo id iusto provident libero, debitis unde culpa inventore sed nam voluptatem ex laboriosam ipsam exercitationem aut maiores quos, facilis impedit? NEEDS FURTHER STYLING</p>
          </div>
        </div>
      </div>
      <div>
        <% @tags.each do |tag| %>
          <div>
            <h2 class="d-flex justify-content-center"><span class="badge badge-pill badge-danger" id="<%= tag %>"><%= tag.capitalize %></span></h2>
          </div>
          <div class="booking-card-product">
            <%= render 'booking_card'%>
            <% @artist.services.each do |service| %>
              <%= render 'artist_show_card', service: service %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <div class="border border-primary p-4 sticky-top">
        <header class="w3-container w3-blue">
          <h1>Latest reviews</h1>
        </header>
        <div class="w3-container m-4">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo id iusto provident libero, debitis unde culpa inventore sed nam voluptatem ex laboriosam ipsam exercitationem aut maiores quos, facilis impedit? NEEDS FURTHER STYLING</p>
        </div>
      </div>
    </div>
  </div>
</div>
