<div class="container d-flex">
  <%= render "shared/artist_profile_card"%>
  <div class="w3-card-4 ml-4 mt-2 border border-primary p-4">
    <header class="w3-container w3-blue">
      <h1>Artist Bio</h1>
    </header>
    <div class="w3-container m-4">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo id iusto provident libero, debitis unde culpa inventore sed nam voluptatem ex laboriosam ipsam exercitationem aut maiores quos, facilis impedit? NEEDS FURTHER STYLING</p>
    </div>
  </div>
  <div class="w3-card-4 ml-4 mt-2 border border-primary p-4">
    <header class="w3-container w3-blue">
      <h1>Latest reviews</h1>
    </header>
    <div class="w3-container m-4">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo id iusto provident libero, debitis unde culpa inventore sed nam voluptatem ex laboriosam ipsam exercitationem aut maiores quos, facilis impedit? NEEDS FURTHER STYLING</p>
    </div>
  </div>
</div>
<% @tags.each do |tag| %>
  <div class="container p-3 mt-2">
    <div>
      <h2 class="d-flex justify-content-center"><span class="badge badge-pill badge-danger" id="<%= tag %>"><%= tag.capitalize %></span></h2>
    </div>
    <div class="card-product">
      <%= render 'booking_card'%>
      <% @artist.services.each do |service| %>
        <%= render 'artist_show_card', service: service %>
      <% end %>
    </div>
  </div>
<% end %>
