<div class="artist-card">
  <img src= <%= asset_path "logo.png"%> alt="place" style="width:100px">
  <h2 class="name-title">Artist name</h2>
  <h4 class="location-title">Artist Location</h4>
  <div>
  <p>Average Rating</p>
  <%# <p><%= service.rating %>
  <p>My Services:</p>
    <%# TODO: These are hard coded, fix this later %>
    <%= link_to "Murals", '#murals', class: "badge badge-pill badge-primary" %>
    <%= link_to "Painting", '#painting', class: "badge badge-pill badge-secondary" %>
    <%= link_to "Graffiti", '#graffiti', class: "badge badge-pill badge-danger" %>
  </div>
</div>
